body{background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 150%;
    width: 960px;
    margin: 0 auto;

}

.top-bar{
width: 960px;

}

h1{ 
    background-color:#4eaaa4;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 125px;
    float: left;
}


.link_tabs{
    width: 33%;
    float: right;
    /*background-color: aqua;*/
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

h2{
    font-size: 24px;
    color: #4eaaa4;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.container{ 
    width: 960px;
    margin: 0 auto;

}

p{
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;

}

#main-bio{
    float: left;
    width: 960px;
}


#bio-image{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

a:link {
    color: #777777; 
    background-color: transparent; 
    text-decoration: none;
}


a:hover {
    color: #4eaaa4;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: #777777;
    text-decoration: none;

}